html {
  font-size: 62.5%;
  background-color: #0E0C11;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.macbook-air-1-kDS {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #c5c5c5;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N {
  width: 145.6rem;
  height: 150rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .unsplash-1shkpknknw-oWU {
  width: 145.6rem;
  height: 95.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    197.4deg,
    rgba(0, 0, 0, 0) 72.46%,
    #0e0c11 89.17%
  );
  background-size: 100% 90%;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-image: url("../assets/unsplash-1shkpknknw-bg.png");
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--hEU {
  width: 7.2rem;
  height: 3rem;
  position: absolute;
  left: 20.9rem;
  top: 3.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #efefef;
  font-family: Montserrat, "Source Sans Pro";
  white-space: nowrap;
  text-decoration: none;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--2AG {
  width: 9.8rem;
  height: 3rem;
  position: absolute;
  left: 77.7rem;
  top: 3.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #efefef;
  font-family: Montserrat, "Source Sans Pro";
  white-space: nowrap;
  text-decoration: none;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--DkY {
  width: 15.7rem;
  height: 3rem;
  position: absolute;
  left: 33.6rem;
  top: 3.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #efefef;
  font-family: Montserrat, "Source Sans Pro";
  white-space: nowrap;
  text-decoration: none;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--dZN {
  width: 12.1rem;
  height: 3rem;
  position: absolute;
  left: 92.8rem;
  top: 3.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #efefef;
  font-family: Montserrat, "Source Sans Pro";
  white-space: nowrap;
  text-decoration: none;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .logo-removebg-preview-2-2rQ {
  width: 18.4rem;
  height: 18.4rem;
  position: absolute;
  left: 54.8rem;
  top: -15px;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--VEC {
  width: 50.5rem;
  height: 12rem;
  position: absolute;
  left: 10rem;
  top: 35rem;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.2;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--f2C {
  width: 41.3rem;
  height: 2.5rem;
  position: absolute;
  left: 10rem;
  top: 48rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .frame-1-3oS {
  width: 29rem;
  height: 6rem;
  position: absolute;
  left: 10rem;
  top: 55rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1rem;
  text-decoration: none;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .rectangle-2-zs6 {
  width: 128.1rem;
  height: 75.2rem;
  position: absolute;
  left: 0;
  top: 83.4rem;
  background-color: #0e0c11;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--J76 {
  width: 8.7rem;
  height: 2.5rem;
  position: absolute;
  left: 32.1rem;
  top: 102.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #c63723;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--JmJ {
  width: 6.3rem;
  height: 2.5rem;
  position: absolute;
  left: 74.6rem;
  top: 102.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--tDi {
  width: 7.6rem;
  height: 2.5rem;
  position: absolute;
  left: 61.5rem;
  top: 102.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--Kpp {
  width: 10.1rem;
  height: 2.5rem;
  position: absolute;
  left: 46.2rem;
  top: 102.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--mgp {
  width: 5.9rem;
  height: 2.5rem;
  position: absolute;
  left: 86.6rem;
  top: 102.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--dj2 {
  width: 28.6rem;
  height: 6rem;
  position: absolute;
  left: 49.7rem;
  top: 92.2rem;
  text-align: center;
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 1.3953488372;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .rectangle-3-5b2 {
  width: 19.2rem;
  height: 21.2rem;
  position: absolute;
  left: 10rem;
  top: 114.8rem;
  background-color: #d9d9d9;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1.5rem;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .rectangle-4-aGt {
  width: 19.2rem;
  height: 21.2rem;
  position: absolute;
  left: 54.6rem;
  top: 114.8rem;
  background-color: #d9d9d9;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1.5rem;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .rectangle-6-gqi {
  width: 19.2rem;
  height: 21.2rem;
  position: absolute;
  left: 76.6rem;
  top: 114.8rem;
  background-color: #d9d9d9;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1.5rem;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .rectangle-7-QWp {
  width: 19.2rem;
  height: 21.2rem;
  position: absolute;
  left: 98.6rem;
  top: 114.8rem;
  background-color: #d9d9d9;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1.5rem;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .rectangle-5-8Sp {
  width: 19.2rem;
  height: 21.2rem;
  position: absolute;
  left: 32.2rem;
  top: 114.8rem;
  background-color: #d9d9d9;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1.5rem;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .frame-2-deU {
  width: 32.3rem;
  height: 6rem;
  position: absolute;
  left: 33%;
  top: 145.2rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1rem;
}
.macbook-air-1-kDS
  .auto-group-a1rn-j5N
  .grilled-cheeseburger-with-tomato-onion-and-fries-generated-by-ai-removebg-preview-UQC {
  width: 25.8rem;
  height: 14.7rem;
  position: absolute;
  left: 51.3rem;
  top: 110.9rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-air-1-kDS
  .auto-group-a1rn-j5N
  .front-view-veggie-burger-with-black-buns-removebg-preview-Je8 {
  width: 20.8rem;
  height: 14.5rem;
  position: relative;
  left: 80.1rem;
  top: 110.2rem;
  background-size: 141.014% 135.172%;
  background-position: -8.5309rem 0;
  background-image: url("../assets/front-view-veggie-burger-with-black-buns-removebg-preview.png");
}
.macbook-air-1-kDS
  .auto-group-a1rn-j5N
  .grilled-cheeseburger-on-sesame-bun-american-classic-generated-by-ai-removebg-preview-1-Z4G {
  width: 31.1rem;
  height: 17.8rem;
  position: absolute;
  left: 92.6rem;
  top: 108.9rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-air-1-kDS
  .auto-group-a1rn-j5N
  .gourmet-cheeseburger-with-grilled-meat-tomato-onion-and-rustic-bun-generated-by-ai-removebg-preview-3VE {
  width: 23.5rem;
  height: 13.4rem;
  position: absolute;
  left: 30.5rem;
  top: 111.5rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-air-1-kDS
  .auto-group-a1rn-j5N
  .delicious-homemade-sandwich-and-ketchup-fries-chicken-nuggets-on-black-board-on-gray-surface-removebg-preview-XfJ {
  width: 28.3rem;
  height: 18.9rem;
  position: absolute;
  left: 6.3rem;
  top: 107.1rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--2MA {
  width: 14.1rem;
  height: 2.5rem;
  position: absolute;
  left: 13.4rem;
  top: 126.6rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--ufr {
  width: 11.4rem;
  height: 2.5rem;
  position: absolute;
  left: 36.3rem;
  top: 126.6rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--1D6 {
  width: 17.4rem;
  height: 2.5rem;
  position: absolute;
  left: 56.4rem;
  top: 126.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--HgQ {
  width: 12.4rem;
  height: 2.5rem;
  position: absolute;
  left: 80.7rem;
  top: 126.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item--MgG {
  width: 8.7rem;
  height: 2.5rem;
  position: absolute;
  left: 104.4rem;
  top: 126.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-350--TDW {
  width: 8.4rem;
  height: 2.5rem;
  position: absolute;
  left: 19.9rem;
  top: 130.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-350--wuN {
  width: 8.4rem;
  height: 2.5rem;
  position: absolute;
  left: 42.2rem;
  top: 130.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-350--TMv {
  width: 8.4rem;
  height: 2.5rem;
  position: absolute;
  left: 64.6rem;
  top: 130.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-350--wnt {
  width: 8.4rem;
  height: 2.5rem;
  position: absolute;
  left: 86.6rem;
  top: 130.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-350--4cc {
  width: 8.4rem;
  height: 2.5rem;
  position: absolute;
  left: 108.6rem;
  top: 130.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-580--nYc {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 12rem;
  top: 130.7rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-580--63W {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 34.3rem;
  top: 130.7rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-580--1RN {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 56.7rem;
  top: 130.7rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-580--8Vz {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 78.7rem;
  top: 130.7rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-a1rn-j5N .item-580--FqW {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 100.7rem;
  top: 130.7rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #efefef;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU {
  box-sizing: border-box;
  padding-top: 4.1rem;
  width: 128.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0e0c11;
  flex-shrink: 0;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-bsxs-J36 {
  margin: 10rem 0rem 5.8rem 7.5rem;
  width: 115.4rem;
  height: 63.5rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-bsxs-J36 .ellipse-1-DQx {
  width: 57.2rem;
  height: 57rem;
  position: absolute;
  left: 58.2rem;
  top: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-bsxs-J36
  .delicious-burger-with-fresh-ingredients-removebg-preview-1-k9z {
  width: 40.8rem;
  height: 61.2rem;
  position: absolute;
  left: 66.5rem;
  top: 2.3rem;
  object-fit: cover;
  vertical-align: top;
  caret-color: transparent;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-bsxs-J36 .item--Eax {
  width: 19.1rem;
  height: 6rem;
  position: absolute;
  left: 45.3rem;
  top: 0;
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 1.3953488372;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-bsxs-J36 .item--78x {
  width: 52.6rem;
  height: 40.3rem;
  position: absolute;
  left: 0;
  top: 14.7rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.347826087;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ {
  margin: 0rem 10.8rem 3rem 11rem;
  width: calc(100% - 21.8rem);
  height: 59.7rem;
  position: relative;
  flex-shrink: 0;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .ellipse-2-Z4p {
  width: 57.2rem;
  height: 57rem;
  position: absolute;
  left: 0;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .item--GE8 {
  width: 51.4rem;
  height: 6rem;
  position: absolute;
  left: 27.4rem;
  top: 0;
  text-align: center;
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 1.3953488372;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .pngwing-1-hKS {
  width: 55.1rem;
  height: 50.5rem;
  position: absolute;
  left: 1.2rem;
  top: 7.2rem;
  object-fit: cover;
  vertical-align: top;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .frame-3-dD6 {
  width: 30.3rem;
  height: 6rem;
  position: absolute;
  left: 65.6rem;
  top: 19.7rem;
  box-sizing: border-box;
  border-radius: 1rem;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .item--jmv {
  width: 14.5rem;
  height: 2.2rem;
  position: absolute;
  left: 67.6rem;
  top: 39.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}

.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .frame-7-ueo {
  box-sizing: border-box;
  padding: 1.9rem 2rem;
  width: 30.3rem;
  height: 6rem;
  position: absolute;
  left: 65.6rem;
  top: 20rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  border-radius: 1rem;
  border: 3px solid #c63724;
}

.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .frame-4-omn {
  box-sizing: border-box;
  padding: 1.9rem 2rem;
  width: 30.3rem;
  height: 6rem;
  position: absolute;
  left: 65.6rem;
  top: 28.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  border-radius: 1rem;
  border: 3px solid #c63724;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .frame-6-foz {
  box-sizing: border-box;
  padding: 1.5rem 1.867rem 1.4rem 2rem;
  width: 8.1rem;
  height: 6rem;
  position: absolute;
  left: 87.8rem;
  top: 37.3rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 3px solid #c63724;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-evoi-rRJ
  .frame-6-foz
  .item-2-Akk {
  margin-right: 0.8666rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-evoi-rRJ
  .frame-6-foz
  .bx-up-arrow-tRr {
  margin-bottom: 0.0189rem;
  width: 1.6666rem;
  height: 1.2478rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .frame-5-zzg {
  width: 30.3rem;
  height: 6rem;
  position: absolute;
  left: 65.6rem;
  top: 46.1rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
  border-radius: 1rem;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-evoi-rRJ .item--s2t {
  width: 40.7rem;
  height: 5.2rem;
  position: absolute;
  left: 65.6rem;
  top: 12.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-1vhe-fzL {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding-top: 0.3rem;
  width: 128rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0E0C11;
  flex-shrink: 0;
}
.macbook-air-1-kDS .auto-group-tuh6-AxU .auto-group-1vhe-fzL .line-1-QS8 {
  width: 100%;
  height: 0.05rem;
  background-color: #c63723;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE {
  box-sizing: border-box;
  padding: 4.65rem 20.4rem 6.4rem 16.9rem;
  width: 100%;
  height: 19.85rem;
  row-gap: 1.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-cd7s-4Wg {
  margin-left: 3.1rem;
  width: calc(100% - 3.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-cd7s-4Wg
  .item--Csn {
  margin-right: 58rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #c5bdbd;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-cd7s-4Wg
  .item-8-4S8 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #c5bdbd;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-zwjl-YcC {
  margin: 0rem 3.5rem 0rem 2.1rem;
  width: calc(100% - 5.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-zwjl-YcC
  .item--4aY {
  margin-right: 59rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #c5bdbd;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-zwjl-YcC
  .item-38095-032-8945-NbE {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #c5bdbd;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-c5fs-6GL {
  margin-right: 0.6rem;
  width: calc(100% - 0.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-c5fs-6GL
  .item--3SU {
  margin-right: 53.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #c5bdbd;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.macbook-air-1-kDS
  .auto-group-tuh6-AxU
  .auto-group-1vhe-fzL
  .auto-group-g1jc-YoE
  .auto-group-c5fs-6GL
  .happymonkeygmailcom-k5z {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #c5bdbd;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
