
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-1-kDS {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #c5c5c5;

  .auto-group-a1rn-j5N {
    position: relative;
    flex-shrink: 0;
    width: 145.6rem;
    height: 170.5rem;

    .unsplash-1shkpknknw-oWU {
      top: 0;
      background-position: center;
      background: linear-gradient(197.4deg, rgba(0, 0, 0, 0) 72.46%, #0e0c11 89.17%);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:3ed9a7d09640b8230e049a00cbd3041fce95c3fb');
      width: 145.6rem;
      height: 95.5rem;
      position: absolute;
      left: 0;
    }
    .item--hEU {
      font-family: Montserrat, 'Source Sans Pro';
      width: 7.2rem;
      left: 20.9rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #efefef;
      height: 3rem;
      position: absolute;
      top: 3.5rem;
      font-size: 2.4rem;
      white-space: nowrap;
    }
    .item--2AG {
      position: absolute;
      line-height: 1.2175;
      white-space: nowrap;
      font-family: Montserrat, 'Source Sans Pro';
      width: 9.8rem;
      height: 3rem;
      left: 77.7rem;
      top: 3.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #efefef;
    }
    .item--DkY {
      top: 3.5rem;
      color: #efefef;
      left: 33.6rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      width: 15.7rem;
      height: 3rem;
      position: absolute;
      white-space: nowrap;
    }
    .item--dZN {
      width: 12.1rem;
      height: 3rem;
      line-height: 1.2175;
      white-space: nowrap;
      position: absolute;
      left: 92.8rem;
      top: 3.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #efefef;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .logo-removebg-preview-2-2rQ {
      width: 18.4rem;
      height: 18.4rem;
      position: absolute;
      left: 54.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .item--VEC {
      position: absolute;
      left: 10rem;
      top: 30rem;
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      width: 50.5rem;
      height: 12rem;
      font-size: 5rem;
      line-height: 1.2;
      color: #ffffff;
    }
    .item--f2C {
      position: absolute;
      left: 10rem;
      white-space: nowrap;
      width: 41.3rem;
      top: 43.2rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
    }
    .frame-1-3oS {
      width: 29rem;
      color: #ffffff;
      justify-content: center;
      font-weight: 500;
      line-height: 1.2175;
      white-space: nowrap;
      border-radius: 1rem;
      position: absolute;
      font-size: 2.2rem;
      font-family: Montserrat, 'Source Sans Pro';
      display: flex;
      align-items: center;
      background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
      height: 6rem;
      left: 10rem;
      top: 49.7rem;
    }
    .rectangle-2-zs6 {
      background-color: #0e0c11;
      width: 128.1rem;
      height: 75.2rem;
      position: absolute;
      left: 0;
      top: 83.4rem;
    }
    .item--J76 {
      font-size: 2rem;
      line-height: 1.2125;
      color: #c63723;
      height: 2.5rem;
      position: absolute;
      top: 102.6rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.7rem;
      left: 32.1rem;
      font-weight: 400;
    }
    .item--JmJ {
      position: absolute;
      top: 102.6rem;
      font-weight: 400;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      width: 6.3rem;
      height: 2.5rem;
      left: 74.6rem;
      font-size: 2rem;
      line-height: 1.2125;
      color: #ffffff;
    }
    .item--tDi {
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-size: 2rem;
      left: 61.5rem;
      top: 102.6rem;
      line-height: 1.2125;
      color: #ffffff;
      width: 7.6rem;
      height: 2.5rem;
    }
    .item--Kpp {
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 10.1rem;
      height: 2.5rem;
      color: #ffffff;
      white-space: nowrap;
      left: 46.2rem;
      top: 102.6rem;
    }
    .item--mgp {
      font-size: 2rem;
      color: #ffffff;
      white-space: nowrap;
      top: 102.6rem;
      height: 2.5rem;
      position: absolute;
      left: 86.6rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 5.9rem;
    }
    .item--dj2 {
      font-weight: 700;
      position: absolute;
      height: 6rem;
      left: 49.7rem;
      top: 92.2rem;
      text-align: center;
      font-size: 4.3rem;
      line-height: 1.3953488372;
      color: #ffffff;
      width: 28.6rem;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
    }
    .rectangle-3-5b2 {
      position: absolute;
      left: 10rem;
      top: 114.8rem;
      background-color: #d9d9d9;
      background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
      border-radius: 1.5rem;
      width: 19.2rem;
      height: 21.2rem;
    }
    .rectangle-4-aGt {
      width: 19.2rem;
      height: 21.2rem;
      position: absolute;
      left: 54.6rem;
      top: 114.8rem;
      background-color: #d9d9d9;
      background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
      border-radius: 1.5rem;
    }
    .rectangle-6-gqi {
      background-color: #d9d9d9;
      background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
      border-radius: 1.5rem;
      width: 19.2rem;
      height: 21.2rem;
      position: absolute;
      left: 76.6rem;
      top: 114.8rem;
    }
    .rectangle-7-QWp {
      background-color: #d9d9d9;
      background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
      border-radius: 1.5rem;
      width: 19.2rem;
      height: 21.2rem;
      position: absolute;
      left: 98.6rem;
      top: 114.8rem;
    }
    .rectangle-5-8Sp {
      background-color: #d9d9d9;
      background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
      border-radius: 1.5rem;
      width: 19.2rem;
      height: 21.2rem;
      position: absolute;
      left: 32.2rem;
      top: 114.8rem;
    }
    .frame-2-deU {
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      left: 45.4rem;
      font-family: Montserrat, 'Source Sans Pro';
      width: 32.3rem;
      position: absolute;
      color: #ffffff;
      align-items: center;
      background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
      top: 145.2rem;
      font-size: 2.2rem;
      line-height: 1.2175;
      white-space: nowrap;
      height: 6rem;
      font-weight: 500;
    }
    .grilled-cheeseburger-with-tomato-onion-and-fries-generated-by-ai-removebg-preview-UQC {
      vertical-align: top;
      width: 25.8rem;
      height: 14.7rem;
      position: absolute;
      left: 51.3rem;
      top: 110.9rem;
      object-fit: cover;
    }
    .front-view-veggie-burger-with-black-buns-removebg-preview-Je8 {
      left: 80.1rem;
      top: 110.2rem;
      background-size: 141.014% 135.172%;
      background-position: -8.5309rem 0;
      background-image: url('REPLACE_IMAGE:b918bf212eea2f2b47e769deadf210deb3dda209');
      width: 20.8rem;
      height: 14.5rem;
      position: relative;
    }
    .grilled-cheeseburger-on-sesame-bun-american-classic-generated-by-ai-removebg-preview-1-Z4G {
      left: 92.6rem;
      top: 108.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 31.1rem;
      height: 17.8rem;
      position: absolute;
    }
    .gourmet-cheeseburger-with-grilled-meat-tomato-onion-and-rustic-bun-generated-by-ai-removebg-preview-3VE {
      position: absolute;
      left: 30.5rem;
      top: 111.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 23.5rem;
      height: 13.4rem;
    }
    .delicious-homemade-sandwich-and-ketchup-fries-chicken-nuggets-on-black-board-on-gray-surface-removebg-preview-XfJ {
      width: 28.3rem;
      height: 18.9rem;
      position: absolute;
      left: 6.3rem;
      top: 107.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .item--2MA {
      font-weight: 600;
      text-transform: uppercase;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-size: 2rem;
      left: 13.4rem;
      top: 126.6rem;
      line-height: 1.2125;
      width: 14.1rem;
      height: 2.5rem;
    }
    .item--ufr {
      white-space: nowrap;
      left: 36.3rem;
      font-weight: 600;
      line-height: 1.2125;
      top: 126.6rem;
      font-size: 2rem;
      text-transform: uppercase;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      width: 11.4rem;
      height: 2.5rem;
      position: absolute;
    }
    .item--1D6 {
      height: 2.5rem;
      left: 56.4rem;
      font-weight: 600;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      width: 17.4rem;
      position: absolute;
      top: 126.7rem;
      font-size: 2rem;
      line-height: 1.2125;
      text-transform: uppercase;
      white-space: nowrap;
    }
    .item--HgQ {
      width: 12.4rem;
      top: 126.7rem;
      font-size: 2rem;
      font-weight: 600;
      color: #efefef;
      height: 2.5rem;
      position: absolute;
      left: 80.7rem;
      line-height: 1.2125;
      text-transform: uppercase;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--MgG {
      font-weight: 600;
      line-height: 1.2125;
      text-transform: uppercase;
      white-space: nowrap;
      width: 8.7rem;
      height: 2.5rem;
      position: absolute;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      left: 104.4rem;
      top: 126.7rem;
      font-size: 2rem;
    }
    .item-350--TDW {
      width: 8.4rem;
      height: 2.5rem;
      left: 19.9rem;
      font-size: 2rem;
      font-weight: 700;
      position: absolute;
      top: 130.5rem;
      line-height: 1.2125;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-350--wuN {
      left: 42.2rem;
      top: 130.5rem;
      font-size: 2rem;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      width: 8.4rem;
      height: 2.5rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .item-350--TMv {
      top: 130.5rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #efefef;
      width: 8.4rem;
      height: 2.5rem;
      position: absolute;
      left: 64.6rem;
    }
    .item-350--wnt {
      position: absolute;
      left: 86.6rem;
      top: 130.5rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 8.4rem;
      height: 2.5rem;
      font-size: 2rem;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-350--4cc {
      font-family: Inter, 'Source Sans Pro';
      width: 8.4rem;
      top: 130.5rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #efefef;
      height: 2.5rem;
      position: absolute;
      left: 108.6rem;
      white-space: nowrap;
    }
    .item-580--nYc {
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      width: 4.6rem;
      position: absolute;
      left: 12rem;
      font-weight: 400;
      line-height: 1.2125;
      height: 2.1rem;
      top: 130.7rem;
      font-size: 1.7rem;
      white-space: nowrap;
    }
    .item-580--63W {
      left: 34.3rem;
      top: 130.7rem;
      height: 2.1rem;
      position: absolute;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.6rem;
    }
    .item-580--1RN {
      line-height: 1.2125;
      white-space: nowrap;
      width: 4.6rem;
      height: 2.1rem;
      top: 130.7rem;
      font-size: 1.7rem;
      font-weight: 400;
      position: absolute;
      left: 56.7rem;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-580--8Vz {
      font-size: 1.7rem;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 78.7rem;
      top: 130.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #efefef;
      white-space: nowrap;
      width: 4.6rem;
      height: 2.1rem;
    }
    .item-580--FqW {
      top: 130.7rem;
      line-height: 1.2125;
      color: #efefef;
      font-family: Inter, 'Source Sans Pro';
      height: 2.1rem;
      position: absolute;
      left: 100.7rem;
      font-size: 1.7rem;
      font-weight: 400;
      white-space: nowrap;
      width: 4.6rem;
    }
  }
  .auto-group-tuh6-AxU {
    display: flex;
    flex-direction: column;
    background-color: #0e0c11;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 4.1rem;
    width: 128.1rem;
    align-items: center;

    .auto-group-bsxs-J36 {
      margin: 0rem 0rem 5.8rem 7.5rem;
      width: 115.4rem;
      height: 63.5rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-1-DQx {
        position: absolute;
        left: 58.2rem;
        top: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 57.2rem;
        height: 57rem;
      }
      .delicious-burger-with-fresh-ingredients-removebg-preview-1-k9z {
        width: 40.8rem;
        height: 61.2rem;
        position: absolute;
        left: 66.5rem;
        top: 2.3rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item--Eax {
        height: 6rem;
        left: 45.3rem;
        top: 0;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        width: 19.1rem;
        position: absolute;
        font-size: 4.3rem;
        line-height: 1.3953488372;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--78x {
        position: absolute;
        left: 0;
        top: 14.7rem;
        line-height: 1.347826087;
        color: #ffffff;
        width: 52.6rem;
        height: 40.3rem;
        font-size: 2.3rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-evoi-rRJ {
      flex-shrink: 0;
      margin: 0rem 10.8rem 3rem 11rem;
      width: calc(100% - 21.8rem);
      height: 59.7rem;
      position: relative;

      .ellipse-2-Z4p {
        left: 0;
        top: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 57.2rem;
        height: 57rem;
        position: absolute;
      }
      .item--GE8 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 51.4rem;
        height: 6rem;
        left: 27.4rem;
        top: 0;
        font-weight: 700;
        line-height: 1.3953488372;
        white-space: nowrap;
        position: absolute;
        text-align: center;
        font-size: 4.3rem;
      }
      .pngwing-1-hKS {
        left: 1.2rem;
        top: 7.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 55.1rem;
        height: 50.5rem;
        position: absolute;
      }
      .frame-3-dD6 {
        width: 30.3rem;
        height: 6rem;
        position: absolute;
        left: 65.6rem;
        top: 19.7rem;
        box-sizing: border-box;
        border-radius: 1rem;
      }
      .item--jmv {
        width: 14.5rem;
        height: 2.2rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.2125;
        letter-spacing: 0.072rem;
        white-space: nowrap;
        left: 67.6rem;
        top: 39.2rem;
        font-size: 1.8rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .frame-4-omn {
        height: 6rem;
        left: 65.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 30.3rem;
        top: 28.5rem;
        font-size: 1.8rem;
        padding: 1.9rem 2rem;
        position: absolute;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        box-sizing: border-box;
        letter-spacing: 0.072rem;
        border-radius: 1rem;
      }
      .frame-6-foz {
        position: absolute;
        padding: 1.5rem 1.867rem 1.4rem 2rem;
        height: 6rem;
        left: 87.8rem;
        top: 37.3rem;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        box-sizing: border-box;
        width: 8.1rem;

        .item-2-Akk {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          letter-spacing: 0.1rem;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 0.8666rem;
        }
        .bx-up-arrow-tRr {
          margin-bottom: 0.0189rem;
          width: 1.6666rem;
          height: 1.2478rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-5-zzg {
        display: flex;
        align-items: center;
        background: linear-gradient(270.8deg, #c63723 86.32%, #b26b24 264.05%);
        position: absolute;
        line-height: 1.2175;
        white-space: nowrap;
        height: 6rem;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        border-radius: 1rem;
        left: 65.6rem;
        font-size: 2.2rem;
        color: #ffffff;
        justify-content: center;
        width: 30.3rem;
        top: 46.1rem;
      }
      .item--s2t {
        font-weight: 400;
        width: 40.7rem;
        height: 5.2rem;
        left: 65.6rem;
        line-height: 1.3;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 12.1rem;
        font-size: 2rem;
      }
    }
    .auto-group-1vhe-fzL {
      margin-right: 0.1rem;
      padding-top: 0.3rem;
      display: flex;
      background-color: #120f15;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 128rem;
      align-items: center;
      flex-direction: column;

      .line-1-QS8 {
        flex-shrink: 0;
        width: 100%;
        height: 0.05rem;
        background-color: #c63723;
      }
      .auto-group-g1jc-YoE {
        box-sizing: border-box;
        height: 19.85rem;
        row-gap: 1.1rem;
        display: flex;
        padding: 4.65rem 20.4rem 6.4rem 16.9rem;
        width: 100%;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-cd7s-4Wg {
          align-items: center;
          flex-shrink: 0;
          margin-left: 3.1rem;
          width: calc(100% - 3.1rem);
          display: flex;

          .item--Csn {
            flex-shrink: 0;
            font-weight: 400;
            letter-spacing: 0.072rem;
            color: #c5bdbd;
            white-space: nowrap;
            margin-right: 58rem;
            font-size: 1.8rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-8-4S8 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: 0.072rem;
            color: #c5bdbd;
          }
        }
        .auto-group-zwjl-YcC {
          width: calc(100% - 5.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0rem 2.1rem;

          .item--4aY {
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 59rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: 0.072rem;
            color: #c5bdbd;
          }
          .item-38095-032-8945-NbE {
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: 0.072rem;
            color: #c5bdbd;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
        .auto-group-c5fs-6GL {
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.6rem;
          width: calc(100% - 0.6rem);
          display: flex;

          .item--3SU {
            font-size: 1.8rem;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 53.8rem;
            font-weight: 400;
            letter-spacing: 0.072rem;
            color: #c5bdbd;
            font-family: Inter, 'Source Sans Pro';
          }
          .happymonkeygmailcom-k5z {
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: 0.072rem;
            color: #c5bdbd;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
